@font-face {
    font-family: Arial;
    src: url("../../assets/fonts/arial/arial-regular.ttf");
}

@font-face {
    font-family: 'Arial Italic';
    src: url("../../assets/fonts/arial/arial-italic.ttf");
}

@font-face {
    font-family: Georgia;
    src: url("../../assets/fonts/georgia/georgia-regular.ttf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Georgia';
}

.head {
    background: url('../../assets/images/noise_lines_transparent.png'), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}

.header-container {
    height: 120px;
    padding-top: 60px;
}

.header-content{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-linq{
    text-decoration: none;
}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 186px;
    height: 60px;
}
h1{
    font-weight: normal;
    font-size: 32px;
    color: #F1CDB3;
    letter-spacing: 0.06em;
    line-height: 35px;
}
.logo-text{
    font-family: 'Arial';
    font-size: 13px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    line-height: 15px;
}
.nav {
    width: 443px;
    height: 24px;
}
.nav-items {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav-link {
    font-family: 'Arial';
    text-decoration: none;
    font-size: 15px;
    color: #CDCDCD;
    transition: 0.3s;
}
.nav-link:hover{
    color: #FAFAFA;
}

.active{
    color: #FAFAFA;
    position: relative;
}
.active::after{
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #F1CDB3;
}

.header-burger {
    width: 30px;
    height: 22px;
    position: relative;
    margin-right: 43px;
    display: none;
    /* z-index: 15; */
}
.burger-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #F1CDB3;
    position: absolute;
    left: 0;
    transition: 0.3s;
}
.burger-line1 {
    top: 0;
}
.burger-line2 {
    top: 10px;
}

.burger-line3{
    bottom: 0;
}

.notonly-container{
    height: 788px;
    padding-top: 60px;
}

.notonly-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.notonly-info{
    position: relative;
    bottom: 41px;
    width: 460px;
    height: 322px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.notonly-title{
    width: 100%;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
}

.notonly-text{
    font-family: 'Arial';
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
}

.notonly-btn{
    font-family: 'Georgia';
    width: 207px;
    height: 52px;
    background: #F1CDB3;
    border: none;
    border-radius: 100px;
    font-size: 17px;
    letter-spacing: 0.06em;
    cursor: pointer;
    transition: 0.3s;
}
.notonly-btn:hover{
    background: #FDDCC4;
}
.about-container{
    height: 588px;
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image {
    margin-right: 120px;
}
.about-info {
    width: 430px;
    height: 380px;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}
.title {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    color: #545454;
    letter-spacing: 0.06em;
}
.about-text {
    font-family: 'Arial';
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}

.ourfriends {
    background: #F6F6F6;
}
.ourfriends-container {
    padding-top: 80px;
    padding-bottom: 100px;
    height: 877px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}
.ourfriends-title {
    width: 400px;
    line-height: 45px;
    text-align: center;
}
.slider {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.slider-arrow{
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}
.slider-arrow:hover{
    border-color: #FDDCC4;
    background-color: #FDDCC4;
}
.slider-left {
    background-image: url('../../assets/icons/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.slider-items {
    width: 990px;
    display: flex;
    justify-content: space-between;
}
.slider-item {
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}
.slider-item:hover{
    background: #FFFFFF;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.slider-item:hover .slider-btn{
    background-color: #FDDCC4;
    border-color: #FDDCC4;
}
.item-img{
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
.slider-title {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
}
.slider-btn {
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background: transparent;
    font-family: 'Georgia';
    font-size: 17px;
    letter-spacing: 0.06em;
    color: #292929;
    cursor: pointer;
    transition: 0.3s;
}
.slider-btn:hover{
    background-color: #FDDCC4;
    border-color: #FDDCC4;
}
.slider-right {
    background-image: url('../../assets/icons/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
}
.getknow-btn {
    width: 261px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-size: 17px;
    letter-spacing: 0.06em;
    color: #292929;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.getknow-btn:hover{
    background-color: #FDDCC4;
}
.help-container {
    padding-top: 80px;
    padding-bottom: 100px;
}
.help-title{
    text-align: center;
    margin-bottom: 58px;
}
.item-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}
.help-items {
    width: 100%;
    height: 281px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 120px;
    row-gap: 55px;
}
.help-item {
    height: 113px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.help-logo{
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.logo-food {
    background-image: url('../../assets/icons/icon-pet-food.svg');
}
.logo-transport {
    background-image: url('../../assets/icons/icon-transportation.svg');
}
.logo-toys {
    background-image: url('../../assets/icons/icon-toys.svg');
}
.logo-bowl {
    background-image: url('../../assets/icons/icon-bowls-and-cups.svg');
}
.logo-shamp {
    background-image: url('../../assets/icons/icon-shampoos.svg');
}
.logo-vitam {
    background-image: url('../../assets/icons/icon-vitamins.svg');
}
.logo-medi {
    background-image: url('../../assets/icons/icon-medicines.svg');
}
.logo-collar {
    background-image: url('../../assets/icons/icon-collars-leashes.svg');
}
.logo-area {
    background-image: url('../../assets/icons/icon-sleeping-area.svg');
}

.donation {
    background: #F6F6F6;
}
.donation-container {
    padding: 80px 183px 100px 183px;
}
.donation-content {
    display: flex;
    align-items: center;
}
.donation-info{
    width: 380px;
}
.donation-image {
    margin-right: 30px;
}
.bank-info {
    margin: 20px 0;
    font-family: 'Georgia';
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}
.card-linq{
    text-decoration: none;
}
.donation-card {
    margin-bottom: 20px;
    max-width: 349px;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background: #F1CDB3;
    border-radius: 9px;
    transition: 0.3s;
}
.donation-card:hover{
    background: #FDDCC4;
}
.card-ico{
    width: 30px;
    height: 23px;
    background-image: url('../../assets/icons/credit-card.svg');
}
.card-number {
    font-family: 'Georgia';
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}
.donation-text {
    font-family: 'Arial Italic';
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}
.footer {
    background: url('../../assets/images/noise_lines_transparent.png'), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
.footer-container {
    padding: 40px 40px 0 40px;
    display: flex;
    justify-content: space-between;
}
.footer-questions {
    padding-top: 16px;
    max-width: 279px;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-title{
    color: #FFFFFF;
}
.footer-icon{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
}
.email-icon {
    width: 40px;
    height: 32px;
    background-image: url('../../assets/icons/icon-email.svg');
}
.footer-text{
    font-family: 'Georgia';
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}
.telephone-icon {
    width: 40px;
    height: 32px;
    background-image: url('../../assets/icons/icon-phone.svg');
}
.footer-item{
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.footer-map {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 16px;
    max-width: 302px;
    max-height: 250px;
}
.map-icon {
    width: 22px;
    height: 32px;
    background-image: url('../../assets/icons/icon-marker.svg');
}
.questions-linq{
    text-decoration: none;
}
.map-linq{
    text-decoration: none;
}


@media (max-width: 1279px){
    .container{
        padding-left: 30px;
        padding-right: 30px;
    }
    .header-container{
        height: 90px;
        padding-top: 30px;
    }
    .notonly-container{
        height: auto;
        padding-top: 60px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .notonly-content{
        width: 569px;
        flex-direction: column;
        justify-content: center;
        row-gap: 100px;
    }
    .notonly-info{
        position: static;
        justify-content: center;
    }
    .notonly-image{
        height: 593px;
        position: relative;
        left: calc(50% - 569px/2 + 70px);
    }
    .notonly-img{
        width: 569px;
        height: 593px;
    }
    .about-container{
        height: auto;
        flex-direction: column;
        row-gap: 80px;
    }
    .about-image {
        margin-right: 0;
        order: 1;
    }
    .ourfriends-container{
        padding-top: 78px;
        row-gap: 60px;
        height: auto;
    }
    .slider{
        justify-content: center;
        column-gap: 12px;
    }
    .slider-items{
        width: auto;
        justify-content: center;
        column-gap: 40px;
    }
    .slider-item:last-child{
        display: none;
    }
    .help-container{
        padding-left: 69px;
        padding-right: 69px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 57px;
    }
    .help-title{
        margin-bottom: 0;
    }
    .help-items {
        width: 630px;
        height: auto;
        column-gap: 60px;
    }
    .help-item{
        width: 170px;
    }
    .donation-container {
        padding-left: 131px;
        padding-right: 132px;
        display: flex;
        justify-content: center;
    }
    .donation-content {
        width: 505px;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 60px;
    }
    .donation-image {
        margin-right: 0;
        order: 1;
    }
    .footer-container {
        padding-top: 14px;
        padding-left: calc((100% - 650px) / 2);
        padding-right: calc((100% - 650px) / 2);
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 60px;
        row-gap: 65px;
    }
    .footer-questions {
        padding-top: 16px;
        width: 279px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 40px;
    }
}

@media (max-width: 767px){
    .container{
        padding-left: 10px;
        padding-right: 10px;
    }
    .nav{
        display: none;
    }
    .header-burger{
        display: block;
    }
    .notonly-title{
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.06em;
    }
    .notonly-content{
        width: 300px;
        row-gap: 105px;
    }
    .notonly-info{
        width: 300px;
        height: 296px;
    }
    .notonly-text{
        line-height: 160%;
        text-align: center;
    }
    .notonly-image{
        height: 272px;
        left: calc(50% - 260px/2);
    }
    .notonly-img{
        width: 260px;
        height: 271.77px;
    }
    .about-container{
        padding-top: 42px;
        padding-bottom: 38px;
        row-gap: 40px;
    }
    .about-title{
        font-size: 25px;
        line-height: 130%;
        letter-spacing: 0.06em;
        text-align: center;
    }
    .about-info {
        width: 270px;
        height: auto;
        justify-content: center;
    }
    .about-text{
        text-align: justify;
        margin-top: 25px;
        margin-bottom: 22px;
    }
    .about-text:last-child{
        margin-top: 0;
        margin-bottom: 0;
    }
    .about-image{
        width: auto;
        height: auto;
    }
    .about-image img{
        width: 260px;
        height: 354px;
    }
    .ourfriends-container{
        padding-top: 42px;
        padding-bottom: 42px;
        row-gap: 42px;
        padding-left: calc((100% - 300px) / 2);
        padding-right: calc((100% - 300px) / 2);
    }
    .ourfriends-title{
        font-size: 25px;
        line-height: 130%;
    }
    .slider-item:nth-child(2){
        display: none;
    }
    .slider{
        width: 270px;
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 80px;
    }
    .slider-left{
        order: 2;
    }
    .slider-right{
        order: 3;
    }
    .help-container{
        padding-top: 42px;
        padding-bottom: 42px;
        row-gap: 41px;
        padding-left: calc((100% - 290px) / 2);
        padding-right: calc((100% - 290px) / 2);
    }
    .help-title{
        font-size: 25px;
        line-height: 130%;
    }
    .help-items {
        width: 290px;
        height: auto;
        justify-content: flex-start;
        column-gap: 30px;
        row-gap: 31px;
    }
    .help-item{
        width: 130px;
        height: auto;
        row-gap: 20px;
    }
    .help-logo{
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    .item-title{
        font-size: 15px;
        line-height: 110%;
    }
    .donation-container{
        padding-top: 40px;
        padding-bottom: 42px;
        padding-left: calc((100% - 300px) / 2);
        padding-right: calc((100% - 300px) / 2);
    }
    .donation-content{
        row-gap: 42px;
    }
    .donation-info{
        width: 300px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .donation-title{
        font-size: 25px;
        line-height: 130%;
        text-align: center;
    }
    .bank-info{
        line-height: 160%;
        letter-spacing: 0;
        margin: 0;
    }
    .donation-card{
        margin: 0;
        width: 281px;
        align-items: center;
    }
    .card-number{
        font-size: 15px;
        line-height: 110%;
        letter-spacing: 0.06em;
    }
    .donation-text{
        text-align: justify;
    }
    .donation-image{
        width: 260px;
        height: auto;
    }
}