@font-face {
    font-family: Arial;
    src: url("../../assets/fonts/arial/arial-regular.ttf");
}

@font-face {
    font-family: 'Arial Italic';
    src: url("../../assets/fonts/arial/arial-italic.ttf");
}

@font-face {
    font-family: Georgia;
    src: url("../../assets/fonts/georgia/georgia-regular.ttf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Georgia';
}

.body-hidden {
    overflow: hidden;
}

.header {
    position: sticky;
    top: 0;
    z-index: 300;
    background: #FFFFFF;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}
.header-container {
    height: 120px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.header-content{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-linq{
    text-decoration: none;
}
.logo{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 186px;
    height: 60px;
    transition: 0.5s ease-in;
}
h1{
    font-weight: normal;
    font-size: 32px;
    color: #545454;
    letter-spacing: 0.06em;
    line-height: 35px;
}
.logo-text{
    font-family: 'Arial';
    font-size: 13px;
    letter-spacing: 0.1em;
    color: #292929;
    text-align: center;
    width: 100%;
    line-height: 15px;
}
.nav {
    width: 443px;
    height: 24px;
}
.nav-items {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav-link {
    font-family: 'Arial';
    text-decoration: none;
    font-size: 15px;
    color: #545454;
    transition: 0.3s;
}
.nav-link:hover{
    color: #292929;
}

.active{
    color: #292929;
    position: relative;
}
.active::after{
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #F1CDB3;
}

.header-burger {
    width: 30px;
    height: 22px;
    position: relative;
    margin-right: 43px;
    display: none;
    z-index: 11;
    transition: 0.3s;
}
.burger-open{
    transform: rotate(90deg);
}
.burger-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000000;
    position: absolute;
    left: 0;
    transition: 0.3s;
}
.burger-line1 {
    top: 0;
}
.burger-line2 {
    top: 10px;
}

.burger-line3{
    bottom: 0;
}
.overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(41, 41, 41, 0.6);
    transform: translateX(100%);
    transition: 0.5s ease-in;
}

.main {
    background: #F6F6F6;
}
.ourfriends-container {
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 60px;
}
.title {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    color: #545454;
    letter-spacing: 0.06em;
}
.ourfriends-title {
    line-height: 45px;
    text-align: center;
}
.ourfriends-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 40px;
    row-gap: 30px;
}
.ourfriends-item {
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}
.ourfriends-item:hover{
    background: #FFFFFF;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.ourfriends-item:hover .ourfriends-btn{
    background-color: #FDDCC4;
    border-color: #FDDCC4;
}
.item-title{
    font-family: 'Georgia';
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
}
.item-img{
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
.ourfriends-btn {
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background: transparent;
    font-family: 'Georgia';
    font-size: 17px;
    letter-spacing: 0.06em;
    color: #292929;
    cursor: pointer;
    transition: 0.3s;
}
.ourfriends-btn:hover{
    background-color: #FDDCC4;
    border-color: #FDDCC4;
}
.ourfriends-buttons {
    display: flex;
    column-gap: 20px;
}
.ourfriends-button{
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 50%;
    font-family: 'Georgia';
    font-size: 20px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #292929;
    cursor: pointer;
    transition: 0.3s;
}
.ourfriends-button:hover{
    background-color: #FDDCC4;
    border-color: #FDDCC4;
}

.non-active {
    color: #CDCDCD;
    border-color: #CDCDCD;
    pointer-events: none;
}
.number-button{
    cursor: default;
    border-color: #FDDCC4;
    background-color: #FDDCC4;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgba(41, 41, 41, 0.6);
    display: none;
    z-index: 500;
}
.modal-block{
    display: flex;
    animation-name: modal-anim;
    animation-duration: 0.7s;
}
.modal-card {
    position: relative;
    width: 900px;
    height: 500px;
    display: flex;
    column-gap: 30px;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    border-radius: 9px;
    background: #FAFAFA;
}
.card-close{
    position: absolute;
    right: -42px;
    top: -53px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid #F1CDB3;
    background-image: url('../../assets/icons/vector.svg');
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.3s;
}
.card-close:hover{
    border-color: #FDDCC4;
    background-color: #FDDCC4;
}
.close-hover{
    border-color: #FDDCC4;
    background-color: #FDDCC4;
}
.card-img {
    width: 500px;
    height: 500px;
    border-radius: 9px 0px 0px 9px;
    background-image: url('../../assets/images/pets-jennifer.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.card-info {
    margin-top: 50px;
    width: 351px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.card-name {
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #000000;
    margin-bottom: 10px;
}
.pet-type{
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #000000;
}
.card-text {
    font-size: 15px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #000000;
}
.card-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 11px;
}
.card-item {
    padding-left: 14px;
    position: relative;
    font-weight: 700;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000000;
}

.card-item::before{
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #F1CDB3;
}

#age, #inoculations, #diseases, #parasites {
    font-weight: 400;
}

.footer {
    background: url('../../assets/images/noise_lines_transparent.png'), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
.footer-container {
    padding: 40px 40px 0 40px;
    display: flex;
    justify-content: space-between;
}
.footer-questions {
    padding-top: 16px;
    max-width: 279px;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-title{
    color: #FFFFFF;
}
.footer-icon{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
}
.email-icon {
    width: 40px;
    height: 32px;
    background-image: url('../../assets/icons/icon-email.svg');
}
.footer-text{
    font-family: 'Georgia';
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}
.telephone-icon {
    width: 40px;
    height: 32px;
    background-image: url('../../assets/icons/icon-phone.svg');
}
.footer-item{
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.footer-map {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 16px;
    max-width: 302px;
    max-height: 250px;
}
.map-icon {
    width: 22px;
    height: 32px;
    background-image: url('../../assets/icons/icon-marker.svg');
}
.questions-linq{
    text-decoration: none;
}
.map-linq{
    text-decoration: none;
}

@keyframes blur-in {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes blur-out {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes modal-anim {
    from {opacity: 0;}
    to {opacity: 1;}
}

.blur-in{
    animation-name: blur-in;
    animation-duration: 0.3s;
}

.blur-out{
    animation-name: blur-out;
    animation-duration: 0.3s;
}

@media (max-width: 1279px){
    .container{
        padding-left: 30px;
        padding-right: 30px;
    }
    .header-container {
        height: 120px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .ourfriends-container{
        padding-left: calc((100% - 620px) / 2);
        padding-right: calc((100% - 620px) / 2);
        padding-bottom: 76px;
        row-gap: 30px;
    }
    .ourfriends-item:nth-child(7){
        display: none;
    }
    .ourfriends-item:nth-child(8){
        display: none;
    }
    .ourfriends-buttons {
        margin-top: 10px;
    }
    .footer-container {
        padding-top: 14px;
        padding-left: calc((100% - 650px) / 2);
        padding-right: calc((100% - 650px) / 2);
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 60px;
        row-gap: 65px;
    }
    .footer-questions {
        padding-top: 16px;
        width: 279px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 40px;
    }
    .modal-card {
        width: 629px;
        height: 350px;
        column-gap: 11px;
    }
    .card-img {
        width: 350px;
        height: 350px;
    }
    .card-info {
        margin-top: 10px;
        width: 260px;
        row-gap: 20px;
    }
    
    .card-text {
        font-size: 13px;
        line-height: 110%;
    }
    .card-list {
        row-gap: 5px;
    }
}

@media (max-width: 767px){
    .body-hidden {
        overflow: hidden;
    }
    .container{
        padding-left: 10px;
        padding-right: 10px;
    }
    .logo-open{
        margin-left: calc(100vw - 320px);
        z-index: 11;
    }
    .nav{
        display: flex;
        align-items: center;
        position: fixed;
        height: 100vh;
        width: 320px;
        top: 0;
        right: 0;
        background: #FFFFFF;
        z-index: 10;
        transform: translateX(100%);
        transition: 0.5s;
    }
    .nav-open{
        transform: translateX(0);
    }
    .nav-items{
        margin: auto 0;
        flex-wrap: wrap;
        row-gap: 40px;
        justify-content: center;
        align-items: center;
    }
    .nav-link{
        font-size: 32px;
        line-height: 160%;
    }
    .header-burger{
        display: block;
    }
    .overlay-block{
        display: block;
        top: 0;
        left: 0;
        transform: translateX(0);
    }
    .ourfriends-container{
        padding-top: 42px;
        padding-bottom: 42px;
        padding-left: calc((100% - 300px) / 2);
        padding-right: calc((100% - 300px) / 2);
        row-gap: 42px;
    }
    .ourfriends-title{
        font-size: 25px;
        line-height: 130%;
    }
    .ourfriends-item:nth-child(4), .ourfriends-item:nth-child(5), .ourfriends-item:nth-child(6){
        display: none;
    }
    .ourfriends-buttons{
        margin: 0;
        column-gap: 10px;
    }
    .footer-container {
        padding-left: calc((100% - 300px) / 2);
        padding-right: calc((100% - 300px) / 2);
        row-gap: 40px;
    }
    .footer-title{
        padding: 0 15px;
        font-size: 25px;
        line-height: 130%;
        text-align: center;
    }
    .footer-questions {
        align-items: center;
    }
    .footer-map{
        width: 300px;
        height: auto;
        padding: 0;
        row-gap: 38px;
    }
    .footer-image img{
        width: 260px;
        height: auto;
    }
    .modal-card {
        width: 240px;
        height: 341px;
        column-gap: 30px;
        justify-content: center;
        
    }
    .card-name{
        text-align: center;
    }
    .pet-type{
        text-align: center;
    }
    .card-close{
        right: -32px;
        top: -53px;
    }
    .card-img {
        display: none;
    }
    .card-info {
        margin-top: 0;
        width: 220px;
        row-gap: 20px;
    }
    .card-text {
        font-size: 13px;
        line-height: 110%;
        text-align: justify;
    }
    .card-list {
        row-gap: 5px;
        overflow: auto;
    }
}